@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f0eb8d;
}

header {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background: transparent;
  padding: 40px 100px;
  backdrop-filter: blur(10px);
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  color: #1a120b;
}

header i {
  font-size: 50px;
  color: #1a120b;
  transition: 0.5s;
  position: relative;
}

header i:hover {
  color: #f0eb8d;
  transform: translateY(-10%);
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li button {
  background-color: transparent;
  position: relative;
  margin: 0 15px;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 500px;
  transition: 0.4s;
  border: none;
  color: #1a120b;
  cursor: pointer;
}

header ul li button:hover {
  color: #f0eb8d;
  border-bottom: 1px solid #f0eb8d;
}

main {
  background-image: url(Ledozera/coffee-time/background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.main-text-box {
  padding: 40px 100px;
}

.main-text-box h1 {
  font-size: 3rem;
}

span {
  color: #f0eb8d;
}

.btn.read {
  width: 150px;
  height: 50px;
  font-size: 1.2rem;
  background-color: #f0eb8d;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
  border: none;
  transition: 0.6s;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn.read:hover {
  background-color: #2d2727;
  color: #f0eb8d;
}

section {
  background-color: #3c2a21;
  height: 100vh;
  display: flex;
  align-items: center;
}

.cards {
  margin: 0 auto;
  padding-top: 100px;
  width: 250px;
  height: 400px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #f0eb8d;
  letter-spacing: 2px;
}

.cards i {
  padding-bottom: 20px;
  font-size: 50px;
}

.tipos {
  height: 100vh;
  width: 100%;
  background-color: #f0eb8d;
  padding: 30px 100px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-tipos {
  width: 300px;
  height: 300px;
  color: #f0eb8d;
  background-color: #3c2a21;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 10px;
}

.card-tipos img {
  padding-bottom: 10px;
  width: 80px;
  height: 80px;
}

/*Tablets*/

@media (max-width: 820px) {
  header {
    padding: 20px 80px;
    color: #f0eb8d;
  }
  header ul li button {
    color: #f0eb8d;
  }
  header a i {
    color: #f0eb8d;
  }
  section {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .tipos {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 15px;
  }
}

/*Celulares*/

@media (max-width: 415px) {
  body {
    font-size: 12px;
  }
  header {
    padding: 10px 40px;
    justify-content: left;
    color: #f0eb8d;
  }
  header ul {
    display: grid;
    padding-left: 80px;
  }

  header a i {
    color: #f0eb8d;
  }

  header ul li button {
    font-size: 1rem;
    color: #f0eb8d;
  }
  .main-text-box {
    padding: 10px 40px;
  }
  main {
    background-size: cover;
  }
  main h4 {
    width: 200px;
  }
  section {
    display: flex;
    flex-direction: column;
    font-size: 8px;
  }

  .cards {
    padding-top: 30px;
  }
  .tipos {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 8px;
  }
  .card-tipos {
    width: 250px;
  }
}
